Options +FollowSymLinks
RewriteEngine on

RewriteRule data/0000_GRO0001_I$ http://www.vlaamsekunstcollectie.be/collection.aspx?p=0848cab7-2776-4648-9003-25957707491a&inv=0000.GRO0001.I [R=302,NC,NE,L]
RewriteRule representation/0000_GRO0001_I$ http://www.vlaamsekunstcollectie.be/proxy.aspx?server=62.221.199.163&port=28301&overlaytext=&overlaytextalpha=14&overlaytextfontname=verdana&overlaytextfontsize=8&overlaytextfontcolor=000000&overlaytextbackgroundcolor=cccccc&cache=yes&borderwidth=0&borderheight=0&bordercolor=999999&passepartoutwidth=6&passepartoutheight=6&passepartoutcolor=ffffff&bg=ffffff&filename=brugge\%2F0000.GRO0001.I.jpg [R=302,NC,NE,L]
RewriteRule data/0000_GRO0002_I$ http://www.vlaamsekunstcollectie.be/collection.aspx?p=0848cab7-2776-4648-9003-25957707491a&inv=0000.GRO0002.I [R=302,NC,NE,L]
RewriteRule representation/0000_GRO0002_I$ http://www.vlaamsekunstcollectie.be/proxy.aspx?server=62.221.199.163&port=28301&overlaytext=&overlaytextalpha=14&overlaytextfontname=verdana&overlaytextfontsize=8&overlaytextfontcolor=000000&overlaytextbackgroundcolor=cccccc&cache=yes&borderwidth=0&borderheight=0&bordercolor=999999&passepartoutwidth=6&passepartoutheight=6&passepartoutcolor=ffffff&bg=ffffff&filename=brugge\%2F0000.GRO0002.I.jpg [R=302,NC,NE,L]
RewriteRule data/0000_GRO0003_I$ http://www.vlaamsekunstcollectie.be/collection.aspx?p=0848cab7-2776-4648-9003-25957707491a&inv=0000.GRO0003.I [R=302,NC,NE,L]
RewriteRule representation/0000_GRO0003_I$ http://www.vlaamsekunstcollectie.be/proxy.aspx?server=62.221.199.163&port=28301&overlaytext=&overlaytextalpha=14&overlaytextfontname=verdana&overlaytextfontsize=8&overlaytextfontcolor=000000&overlaytextbackgroundcolor=cccccc&cache=yes&borderwidth=0&borderheight=0&bordercolor=999999&passepartoutwidth=6&passepartoutheight=6&passepartoutcolor=ffffff&bg=ffffff&filename=brugge\%2F0000.GRO0003.I.jpg [R=302,NC,NE,L]
RewriteRule data/0000_GRO0004_I$ http://www.vlaamsekunstcollectie.be/collection.aspx?p=0848cab7-2776-4648-9003-25957707491a&inv=0000.GRO0004.I [R=302,NC,NE,L]
RewriteRule representation/0000_GRO0004_I$ http://www.vlaamsekunstcollectie.be/proxy.aspx?server=62.221.199.163&port=28301&overlaytext=&overlaytextalpha=14&overlaytextfontname=verdana&overlaytextfontsize=8&overlaytextfontcolor=000000&overlaytextbackgroundcolor=cccccc&cache=yes&borderwidth=0&borderheight=0&bordercolor=999999&passepartoutwidth=6&passepartoutheight=6&passepartoutcolor=ffffff&bg=ffffff&filename=brugge\%2F0000.GRO0004.I.jpg [R=302,NC,NE,L]
RewriteRule data/0000_GRO0005_I$ http://www.vlaamsekunstcollectie.be/collection.aspx?p=0848cab7-2776-4648-9003-25957707491a&inv=0000.GRO0005.I [R=302,NC,NE,L]
RewriteRule representation/0000_GRO0005_I$ http://www.vlaamsekunstcollectie.be/proxy.aspx?server=62.221.199.163&port=28301&overlaytext=&overlaytextalpha=14&overlaytextfontname=verdana&overlaytextfontsize=8&overlaytextfontcolor=000000&overlaytextbackgroundcolor=cccccc&cache=yes&borderwidth=0&borderheight=0&bordercolor=999999&passepartoutwidth=6&passepartoutheight=6&passepartoutcolor=ffffff&bg=ffffff&filename=brugge\%2F0000.GRO0005.I.jpg [R=302,NC,NE,L]
RewriteRule data/0000_GRO0006_I$ http://www.vlaamsekunstcollectie.be/collection.aspx?p=0848cab7-2776-4648-9003-25957707491a&inv=0000.GRO0006.I [R=302,NC,NE,L]
RewriteRule representation/0000_GRO0006_I$ http://www.vlaamsekunstcollectie.be/proxy.aspx?server=62.221.199.163&port=28301&overlaytext=&overlaytextalpha=14&overlaytextfontname=verdana&overlaytextfontsize=8&overlaytextfontcolor=000000&overlaytextbackgroundcolor=cccccc&cache=yes&borderwidth=0&borderheight=0&bordercolor=999999&passepartoutwidth=6&passepartoutheight=6&passepartoutcolor=ffffff&bg=ffffff&filename=brugge\%2F0000.GRO0006.I.jpg [R=302,NC,NE,L]
RewriteRule data/0000_GRO0007_I$ http://www.vlaamsekunstcollectie.be/collection.aspx?p=0848cab7-2776-4648-9003-25957707491a&inv=0000.GRO0007.I [R=302,NC,NE,L]
RewriteRule representation/0000_GRO0007_I$ http://www.vlaamsekunstcollectie.be/proxy.aspx?server=62.221.199.163&port=28301&overlaytext=&overlaytextalpha=14&overlaytextfontname=verdana&overlaytextfontsize=8&overlaytextfontcolor=000000&overlaytextbackgroundcolor=cccccc&cache=yes&borderwidth=0&borderheight=0&bordercolor=999999&passepartoutwidth=6&passepartoutheight=6&passepartoutcolor=ffffff&bg=ffffff&filename=brugge\%2F0000.GRO0007.I.jpg [R=302,NC,NE,L]
RewriteRule data/0000_GRO0008_I$ http://www.vlaamsekunstcollectie.be/collection.aspx?p=0848cab7-2776-4648-9003-25957707491a&inv=0000.GRO0008.I [R=302,NC,NE,L]
RewriteRule representation/0000_GRO0008_I$ http://www.vlaamsekunstcollectie.be/proxy.aspx?server=62.221.199.163&port=28301&overlaytext=&overlaytextalpha=14&overlaytextfontname=verdana&overlaytextfontsize=8&overlaytextfontcolor=000000&overlaytextbackgroundcolor=cccccc&cache=yes&borderwidth=0&borderheight=0&bordercolor=999999&passepartoutwidth=6&passepartoutheight=6&passepartoutcolor=ffffff&bg=ffffff&filename=brugge\%2F0000.GRO0008.I.jpg [R=302,NC,NE,L]
RewriteRule data/0000_GRO00010_II$ http://www.vlaamsekunstcollectie.be/collection.aspx?p=0848cab7-2776-4648-9003-25957707491a&inv=0000.GRO0010.II [R=302,NC,NE,L]
RewriteRule data/0000_GRO00011_I$ http://www.vlaamsekunstcollectie.be/collection.aspx?p=0848cab7-2776-4648-9003-25957707491a&inv=0000.GRO0011.I [R=302,NC,NE,L]
